.b_prev, .b_next{
    position: absolute;
    bottom: 5px;
    background-color: transparent;
    border: 0;
    color: #fdfae7;
}
.b_prev{
    right: 50px;
}
.b_next{
    right: 5px;
}

.c_ind [data-bs-target] {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #fdec74;
    opacity: 1;
}
.c_ind .active {
    background-color: #fdfae7;
}
